.anchor_wrapper{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    
}
.loading{
    margin: auto;
    margin-top: 10px;
    display:none;
    width: 8%;
    display: none;
}
.show_loading{
    margin: auto;
    margin-top: 10px;
    display:block;
    width: 8%;
    display: block;
}
